* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;  
    -webkit-user-select: none;
    background-color: #807677;
}


#camera {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

#video {
    display: block;
}

.timers {
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    top: 0;
    left: 0;
}

.timers div {
    float: left;
    width: 34px;
    height: 34px;
    background-size: 34px;
    background-color: transparent;
    background-repeat: no-repeat;
    z-index: 10;
    margin: 0 4px;
}

.timers div.selected {
    background-color: rgba(0,0,0,0.2);
}


#AngleInfo{
	
	/*  위치  	*/
    position: absolute;
    width: 120px;
    height: 40px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    margin: 8px;
    
    /* 배경  */
    background-size: 120px 34px;
    background-color: transparent;
    background-repeat: no-repeat;
    background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#fad12d), to(#FF4E00));

    /* 글자 */
   	color : rgb(0,0,0);
    
    /* 테두리  */
    border-radius : 10%;      	
}



div#timer0 {
    background-image: url('../images/timer_0.png');
    margin: 8px;
}

div#timer0.selected {
    background-image: url('../images/timer_0_selected.png');
    margin: 8px;
}
div#timer2 {
    background-image: url('../images/timer_2.png');
    margin: 8px;
}

div#timer2.selected {
    background-image: url('../images/timer_2_selected.png');
    margin: 8px;
}

div#timer5 {
    background-image: url('../images/timer_5.png');
    margin: 8px;
}

div#timer5.selected {

    background-image: url('../images/timer_5_selected.png');
    margin: 8px;
}

div#timer10 {
    background-image: url('../images/timer_10.png');
    margin: 8px;
}

div#timer10.selected {
    background-image: url('../images/timer_10_selected.png');
    margin: 8px;
}

div#countdown {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    font-size: 170pt;
    text-align: center;
    vertical-align: middle;
    color: rgba(255,0,255,0.8);
    margin: auto 0;
    z-index: 10;
}

div#thumbnail { /* image size: 80x91, *0.7 */
    position: absolute;
    width: 66px;
    height: 78px;
    left: 5%;
    bottom: 19px;
    background-size: 69px 80px;
    background-position:center;
    background-color: transparent;
    background-image: url('../images/smile.png');
    background-repeat: no-repeat;
    z-index: 100;
}

div#shutter-container {
    width: 100%;
    height: 86px;
    position: absolute;
    bottom: 0;
    z-index: 11;
}

div#shutter {
    height: 86px;
    width: 90px;
    background-size: 83px;
    background-color: transparent;
    background-image: url('../images/shutter1.png');
    background-repeat: no-repeat;
    margin: 0px auto;
    z-index: 11;
}

div#shutter.active {
    background-image: url('../images/shutter5.png');
}
/* div#shutter:hover {
    background-image: url('../images/shutter5.png');
}
 */
div#bar {
    position: absolute;
    height: 55px;
    width: 100%;
    max-width:100%;
    max-height: 55px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    background-size: 100% 100%;
    background-color: transparent;
    background-image: url('../images/bar2.png');
    background-repeat: no-repeat;
}

div#countdown {
    display: none;
    width: 100%;
    height: 80%;
    position: absolute;
    background-size: 100%;
    z-index: 15;
}

.audio {
    position: absolute;
    top: 100px;
    left: 10px;
    opacity: 1;
}

#upImage {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 55px;
    height: 64px;
    background-size: 100%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

#failure {
    display: none;
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 18pt;
    padding-top: 75%;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    display: table;
}

.page {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
}

#pageMain {
    display: block;
}

.header {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-color: rgba(0, 80, 179, 1);
    z-index: 999;
    display: table;
}

.headerText {
    color: #ffffff;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.contents {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.detail {
    width: 100%;
    height: 100%;
}

#errorMessage {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}


#X{
    background-image: url('../images/non2.png');
    background-size: cover;
    width: 100%; /* 360px */
    height: 20px;
    top: 50px;
    background-repeat: no-repeat;
    margin:0;
    z-index: 150;
    position: absolute; 
          
}
#Y{

    background-image: url('../images/non.png');
    background-size: cover;
    width: 20px;
    height: 360px;
    top: 110px;
    right: 0px;
    background-repeat: no-repeat;
    z-index: 200;
    position: absolute;    
    
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    display: table;
}

.page {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
}

#pageMain {
	
    display: block;
}

.header {
	
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-color: rgba(0, 80, 179, 1);
    z-index: 999;
    display: table;
}

.headerText {
	
    color: #ffffff;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.contents {
	
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.detail {
	
    width: 100%;
    height: 100%;
}

#errorMessage {
	
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

#glow2, #circleX, #circleY{
	
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    display: none;
}


#circleX {
	
    background-image: url('../images/3.png');
    background-size: contain;               
    width: 25px;
    height: 25px;
    z-index: 202;
    
}
#circleY {
	
    background-image: url('../images/2.png'); /*  32 x 32 */
    background-size: contain;               
    width: 25px;
    height: 25px;
    z-index: 202;

}

#circleX.reserved {
	
    background-image: url('../images/5.png');
    background-size: contain;               
    width: 25px;  /* different circleX */
    height: 25px; /* different circleX */
    z-index: 202;
    
}
#circleY.reserved {
	
    background-image: url('../images/6.png');
    background-size: contain;               
    width: 25px;	/* different circleY */
    height: 25px;	/* different circleY */
    z-index: 202;

}

#Favorite{
	
    position: absolute;
    width: 66px;
    height: 65px;
    right: 3%;
    bottom: 1px;
    background-size: 60px 60px; /* width height */
    background-color: transparent;
    background-image: url('../images/star1.png');
    background-repeat: no-repeat;
    z-index: 101;
   
    margin: 8px;
	
}

#RcircleX {
	
    background-image: url('../images/arrow3.png');
    background-size: contain;               
    width: 25px;
    height: 25px;
    z-index: 201;
    top: 50px;
    position: absolute; 
    visibility : hidden;
}

#RcircleY {
	
    background-image: url('../images/arrow4.png');
    background-size: contain;               
    width: 25px;
    height: 25px;
    z-index: 201;
    top: 50px;
    position: absolute; 
    visibility : hidden; /*  visible/hidden */
}

#RcircleX.reserved {
	
    background-image: url('../images/arrow7.png');
    background-size: contain;               
    width: 25px;
    height: 25px;
    z-index: 201;
    top: 50px;
    position: absolute;
     
}

#RcircleY.reserved {
    background-image: url('../images/arrow8.png');
    background-size: contain;               
    width: 25px;
    height: 25px;
    z-index: 201;
    top: 50px;
    position: absolute;
    
}

