<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/test2" version="2.2.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="tj3lHHY4CG.test2" package="tj3lHHY4CG" required_version="2.3"/>
    <author email="freesky111@naver.com">Chun Eun song</author>
    <content src="index.html"/>
    <description>Camera Application about Guiding user's preference Angle </description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="Camicon.png" height="117" width="117"/>
    <name>AngleCam</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
</widget>
